
# Playwright
/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.vscode/
/package-lock.json
/.env
/results.json
/.auth
/allure-report
/allure-results
playwright.db
README.md
/auth.setup.ts